<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="community-cordova-plugin-market"
        version="1.0.1">
    <name>Cordova Plugin Plugin</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/eyalin/community-cordova-plugin-market.git</repo>
    <issue>https://github.com/eyalin/community-cordova-plugin-market/issues</issue>

    <!-- android -->
    <platform name="android">
        <js-module src="www/plugin.js" name="MarketPlugin">
            <runs/>

            <!-- This is the window variable name you want, like window.MarketPlugin -->
            <clobbers target="MarketPlugin" />
        </js-module>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MarketPlugin">
                <param name="android-package" value="marketplugin.MarketPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/MarketPlugin.java" target-dir="src/android" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="MarketPlugin" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="MarketPlugin">
                <param name="ios-package" value="MarketPlugin" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/MarketPlugin.h" />
        <source-file src="src/ios/MarketPlugin.m" />
    </platform>
</plugin>
